
html .homePageBody {
  background: url('../images/bg1.png'); 
}

.login-box {
  width: 333px;
  height: 352px;
  padding: 58px 76px 0 76px;
  color: #ebebeb;
  font: 12px Arial, Helvetica, sans-serif;
  background: url('../images/bg.png') no-repeat left top;

}


#saveSnippet {
    color: white;
    font-size: 19px;
  }
  
  #saveSnippet:hover {
    color: #5bc0de;
  }
  
  #deleteSnippet {
    color: white;
    font-size: 19px;
  }
  
  #deleteSnippet:hover {
    color: #5bc0de;
  }


/* homepage with login */
.login-bg {
  background: url('../images/bg1.png'); 
  width: 100%; 
  height: 100%;
  }

.title{
  text-align: center;
  color: white;
  background: rgba(137, 199, 203, 0.75);
  padding: 10px 20px;
  margin-top: 2vh;
  border: solid 10px #F25C3E;
  
}

.title h1 {
  color: #363946;
  font-size: 40px;
  font-family: 'Lobster Two', cursive;
}

h2 {
  font-size: 25px;
  font-weight: bold;
}

.login-container{
  color: 363946;
  font-size: 22px;
  font-family: 'Arial Narrow Bold', sans-serif;
  padding: 0 30px;
  margin: 5vh -5px;
  background: rgba(137, 199, 203, 0.75);
  border: solid 10px #F25C3E;
}

.btn-login {
  font-size: 25px;
  font-family: 'Arial Narrow Bold', sans-serif;
  margin-bottom:-15px;
  color: white;
  background-color: #F25C3E;
}

.btn-login:hover {
  color: white;
  background-color:	#8EA09C;
}

.btn-login:focus{
  color: white;
}


.signUpLink, .forgotPasswordLink {
  color: #F25C3E;
  /* text-decoration: none; */
}

.footer {
  margin-top: 10px;
  background: #1C0613;
  color: white;
}

.sidebar-nav a {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #3A6EB4;
}

.indexFooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #8EA09C;
  color: white;
  text-align: center;
}

#wrapper {
  width: 100%;
}

#page-wrapper {
  padding: 0 15px;
  min-height: 568px;
  background-color: white;
}

.snippetCodeWrapper {
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* @media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 250px;
    padding: 0 30px;
    border-left: 1px solid #e7e7e7;
  } */

.navbar {
  background-color: #89C7CB;
}

.navbar-brand {
  font-size: 30px;
  color: white;
}

.navbar-brand {
  padding: 7px 15px; 
}  

.navbar-default .navbar-brand:hover {
  color: #5bc0de;
}


.sidebar .sidebar-nav.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
.sidebar .sidebar-search {
  padding: 15px;
}
.sidebar ul li {
  border-bottom: 1px solid #e7e7e7;
}
.sidebar ul li a.active {
  background-color: #eeeeee;
}
.sidebar .arrow {
  float: right;
}
.sidebar .fa.arrow:before {
  content: "\f104";
}
.sidebar .active > a > .fa.arrow:before {
  content: "\f107";
}
.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
  border-bottom: none !important;
}
.sidebar .nav-second-level li a {
  padding-left: 37px;
}
.sidebar .nav-third-level li a {
  padding-left: 52px;
}
@media (min-width: 768px) {
  .sidebar {
    z-index: 1;
    position: absolute;
    width: 250px;
    margin-top: 51px;
  }
  .navbar-top-links .dropdown-messages,
  .navbar-top-links .dropdown-tasks,
  .navbar-top-links .dropdown-alerts {
    margin-left: auto;
  }
}

.panel-primary>.panel-heading {
  color: #fff;
  background-color: #F25C3E;
  border-color: #F25C3E;
}

.panel-primary {
  border-color: #8EA09C;
}

.logout {
  font-size: 20px;
  color: white;
  float: right;
  margin: 10px 15px 0 0;
}

.logoutPublic{
  font-size: 20px;
  color: white;
  float: right;
  margin: 10px 15px 0 920px;
}

.welcome {
  color: white;
  margin: 15px 0 0 20%;
}

.huge {
  font-size: 20px;
}

/* .panel-green > .panel-heading {
  border-color: #5cb85c;
  color: white;
  background-color: #5cb85c;
} */
.member-id {
  display: none;
}

/* #createSnpBtn{
  margin-bottom: 20px;
} */