/*Pseudo Classes


/* When you hover over the link in the example, it will change color:*/

a.highlight:hover {
    color: #ff0000;
}

/* An example of using the :hover pseudo-class on a <div> element: */
div:hover {
    background-color: blue;
}

/* Hover over a <div> element to show a <p> element (like a tooltip): */
/* Hover over me to show the <p> element. */
p {
    display: none;
    background-color: yellow;
    padding: 20px;
}

div:hover p {
    display: block;
}


/* Links can be displayed in different ways: */
/* unvisited link */
a:link {
    color: #FF0000;
}

/* visited link */
a:visited {
    color: #00FF00;
}

/* mouse over link */
a:hover {
    color: #FF00FF;
}

/* selected link */
a:active {
    color: #0000FF;
}


